<link rel="stylesheet" type="text/css" href="/css/style.css">

<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<p class="description">
  <%= shop.content %>
</p>

<%= shop.image %>
<%- include('../partials/subheading') %>
<%= shop.drink %>

<div class="site-link">
  <%= shop.website %>
</div>
